<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citasiznardo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/shake_q"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CitasIznardo">
        <activity
            android:label="@string/get_q"
            android:parentActivityName=".activities.DashboardActivity"
            android:name=".activities.QuotationActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.DashboardActivity" />
        <activity
            android:name=".activities.FavouriteActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:label="@string/fav_q" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.DashboardActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.DashboardActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.DashboardActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about" />
        <activity android:name=".activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>